<div id="main-wrapper" class="lift:surround?with=default;at=content">
	<head_merge>
	<title>Ferrl.in Blog site</title>
	<style type="text/css">
#show-more { /*background: none repeat scroll 0 0 #EBEBEB;*/
	background: none repeat scroll 0 0 transparent;
	border-top: 1px solid #FFFFFF;
	text-align: center;
}

.yt-uix-button:hover,.yt-uix-button:focus {
	border-color: #999;
	background: #f3f3f3;
	background-image: -moz-linear-gradient(top, #ffffff, #ebebeb);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff),
		to(#ebebeb) );
	filter: progid :       DXImageTransform.Microsoft.Gradient (     
		 startColorStr =   
		   #ffffff, endColorStr =       #ebebeb );
	outline: 0;
	-moz-box-shadow: 0 0 3px #999;
	-webkit-box-shadow: 0 0 3px #999;
	box-shadow: 0 0 3px #999;
	'
}

.yt-uix-button {
	color: #555555;
	text-shadow: 0 0 0 trasparent, 0 1px 0 #FFFFFF;
	width: auto;
	cursor: pointer;
	overflow: visible;
	vertical-align: middle;
	white-space: nowrap;
	border: 1px solid #cccccc;
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	border-width: 0 0 1px;
	height: 18px;
	padding-bottom: 0;
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-style: solid;
	font-size: 11px;
	font-weight: bold;
	background-image: -moz-linear-gradient(top, #FFFFFF, #EFEFEF);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF),
		to(#EFEFEF) );
	filter: progid :     DXImageTransform.Microsoft.Gradient (    
		startColorStr =  
		  #FFFFFF, endColorStr =     #EFEFEF );
}

.yt-uix-button-text {
	background: none repeat scroll 0 0 transparent;
	border-color: #transparent;
	box-shadow: 0 1px 1px #FFFFFF;
	/* 	-moz-border-radius:0; */
	/* 	-webkit-border-radius:0; */
	/* 	border-radius:0; */
	filter: none;
}

/* .yt-uix-button-text.start { */
/* 	-moz-border-radius: 0; */
/* 	-webkit-border-radius: 0; */
/* 	border-radius: 0 */
/* } */

/* .yt-uix-button-text.end { */
/* 	-moz-border-radius: 0; */
/* 	-webkit-border-radius: 0; */
/* 	border-radius: 0 */
/* } */
.yt-uix-button-content {
	line-height: normal;
}

/*#header-wrapper,#content-wrapper,#main-wrapper,#main*/
body {
	background: url("images/www-refreshbg-vflC3wnbM.png") repeat scroll 0 0
		#EBEBEB;
}
</style>
	</head_merge>

	<!-- 	<div id="main-wrapper"> -->
	<div id="main" class="main-section older-posts" style="width: 65%">
		<!-- 		<h3> -->
		<!-- 			New posts <span class="from">from this blog</span> -->
		<!-- 		</h3> -->

		<div class="widget Blog" id="Blog1" style="padding-bottom:0;">
			<div class="lift:comet?type=PostsList">
				<!-- <div class="lift:Posts.listOlder post teaser"> -->
				<h2 class="post-title" style="margin-bottom: 10px;">
					<a class="post-title-link"
						style="text-decoration: none; color: #7A737A;" href="/read/@id">@title</a>
				</h2>
				<div class="post-footer" style="margin-top: 0px;">
					<div class="post-footer-line post-footer-line-1">
						<span class="post-author">Posted by @author.first
							@author.last</span> <span class="date-header" style="float: right;">@postedAt</span>
					</div>
				</div>
			</div>
		</div>

		<div class="lift:ShowMore showmore widget Blog" >
			<div id="showMoreList" ></div>			
			<div id="show-more" class="lift:ShowMore showmore">
				<button id="btnShowMore" role="button"
					class="metadata-inline yt-uix-button yt-uix-button-text"
					type="button">
					<span class="yt-uix-button-content">Show more <img
						alt="Show more"
						src="http://s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" /> </span>
				</button>
			</div>
		</div>

		<div class="blog-pager" id="blog-pager"></div>
		<div class="clear"></div>
		<div class="lift:Posts.initComet"></div>
		<div class="clear"></div>

	</div>
</div>