<div id="main-wrapper" class="lift:surround?with=default;at=content">
	<head_merge>
	<title class="lift:Posts.titlePostsByTag"></title>
	</head_merge>
	<div id="main" class="main-section older-posts" style="width: 65%">
		<div class="widget Blog" id="Blog1">
			<h3 class="lift:Posts.getTag">
				These are posts tagged with '<span></span>'
			</h3>

			<div class="lift:Posts.listPostsByTag post teaser">
				<h2 class="post-title" style="margin-bottom: 10px;">
					<a class="post-title-link"
						style="text-decoration: none; color: #7A737A;" href="/read/@id">@title</a>
				</h2>
				<div class="post-footer" style="margin-top: 0px;">
					<div class="post-footer-line post-footer-line-1">
						<span class="post-author">Posted by @author.first
							@author.last</span> <span class="date-header" style="float: right;">@postedAt</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>