<div id="main-wrapper" class="lift:surround?with=default;at=content">
	<head_merge>
	<title class="lift:Posts.title"></title>
	</head_merge>

	<ul id="pagination">
		<li id="previous" class="lift:Posts.prev"><span class="previous"><a href="/posts/3">Older</a></span>
		</li>
		<li id="next" class="lift:Posts.next"><span class="next"><a href="/posts/1">Newer</a></span>
		</li>
	</ul>

	<div id="main" class="main section">
		<div class="widget Blog" id="Blog1">
			<div class="blog-posts">
				<div class="lift:Posts.read post" style="width: 65%;">
					<h2 class="post-title">
						<a href="/read/@id" style="text-decoration: none; color: #7A737A;"
							class="post-title-link">@title</a>
					</h2>
					<div class="post-content">
						<!-- 						<div class="about">Detail:</div> -->
						<span class="post-content-span"> @content </span>
					</div>
					<div class="post-footer">
						<div class="post-footer-line post-footer-line-1">
							<span class="post-author">Posted by @author.first
								@author.last</span> <span class="date-header" style="float: right;">@postedAt</span>
						</div>
						<div class="post-footer-line post-footer-line-2">
							<span class="post-tags">- Tagged <a href="/posts/Play">Play</a>,
								<a href="/posts/Architecture">Architecture</a> </span> </span>
						</div>
					</div>
				</div>

				<div class="lift:Comments comments" style="width: 65%">
					<h4 class="comment-count">2 comments</h4>
					<dl id="comments-block">
						<div class="comments-singleblock comment">
							<dt class="comment-author">
								<span class="comment-author-info">by Guest</span>, <span
									class="comment-timestamp comment-date">14 Jun 19</span>
							</dt>
							<dd class="comment-body">
								<span class="comment-content-span"> You are right!<br />
								</span>
							</dd>
							<dd class="comment-footer"></dd>
						</div>
					</dl>
				</div>
				<div class="lift:Comments.initComet"></div>

				<form class="lift:form.ajax">
					<div class="lift:Comments.add comment-form">
						<h3>Post a comment</h3>
						<span id="error" class="error"></span>
						<p>
							<label for="author" style="vertical-align: top; display: block;">Your
								name: </label> <input type="text" name="author" id="author" value="" />
						</p>
						<p>
							<label for="content" style="vertical-align: top; display: block;">Your
								message: </label>
							<textarea name="content" id="content"
								style="maxwidth: 397px; height: 158px; resize: none"></textarea>
						</p>
						<!-- 						<script type="text/javascript" -->
						<!-- 		src="http://api.recaptcha.net/challenge?k=6LeKoMsSAAAAAFA4ohu55UoHza620hRrO3AGkUnM"> -->

						<!-- 	</script> -->
						<p>
							<label for="code"
								style="vertical-align: top; display: block; margin-bottom: 4px">Please
								type the code below: </label> <img id="captcha" src="/captcha" /> <br />
							<input type="text" name="code" id="code" size="18" value="" />
						</p>
						<div class="postCommentButtonHolder">
							<p>
								<input type="submit" value="Submit your comment" />
							</p>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript" charset="utf-8">
		$(function() {
			// Expose the form 
			$('form').click(function() {
				$('form').expose({
					api : true
				}).load();
			});

			$("#error").hide();
		});

		function clearError() {
			$("#error").html("");
			$("#error").hide();
		}

		function showError(msg) {
			$("#error").html(msg);
			$("#error").show();
		}

		//use a param to update captcha
		var update = 0;

		function clearForm() {
			$("#author").val("");
			$("#content").val("");
			$("#code").val("");
			$("#captcha").attr("src", "/captcha?update=" + update);
			update++;
		}
	</script>
</div>