<div id="main-wrapper" class="lift:surround?with=default;at=content">
	<head_merge>
	<title>MeBlog - Ferlin</title>
	</head_merge>

	<div id="main" class="main-section older-posts" style="width: 75%">

		<div class="lift:Users.user">
			<h3>
				Posts <span class="from">from @author.first 's blog</span>
			</h3>
		</div>

		<div class="lift:comet?type=UserPostsList post teaser">
			<!-- <div class="lift:Posts.listOlder post teaser"> -->
			<h2 class="post-title">
				<a class="post-title-link" href="@author.id/read/@id">@title</a>
			</h2>
			<div class="post-metadata">
				<span class="post-author">by <a class="link"
					href="/user/@author.id">@author.first @author.last</a> </span>, <span
					class="post-date"> @postedAt </span> <span class="post-comments">
					&nbsp;|&nbsp; no comments </span>
			</div>
		</div>
		<div class="lift:Users.initComet"></div>
		<div id="ajaxifyShowMore" class="lift:Users.showMore">
			<div id="showMoreList"></div>
			<a id="showMore" style="text-decoration: none"	
				class="post-title-link">Show More...</a>
		</div>
	</div>
</div>


