<div style="width:200px;margin:auto;text-align:center;">
	<h3>Just used for testing</h3>
	<!-- 	<form class="lift:AutoLogin.superUser?form=post"> -->
	<!-- 		<input type="submit" value="login as super user" /> -->
	<!-- 	</form> -->
	<!-- 	<form class="lift:AutoLogin.normalUser?form=post"> -->
	<!-- 		<input type="submit" value="login as normal user" /> -->
	<!-- 	</form> -->
</div>s 